@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@theme {
  --color-primary: #1e1e1e;
  --color-secondary: #ffffff;
  --color-accent: #dc143c;
  --color-shadow: rgba(0, 0, 0, 0.4);
  --font-inter: "Inter", arial, sans-serif;
  --breakpoint-xs: 35rem;
}


@utility colored-text {@apply text-accent font-light}

@utility nav-link {@apply no-underline text-lg font-extralight pb-1 border-b border-transparent transition duration-300 hover:text-accent hover:border-accent sm:text-base}

@layer base {
  body {
    @apply bg-primary text-secondary font-inter tracking-wide
  }

  nav {
    @apply flex justify-between items-center w-full max-w-370 mt-2.5 mx-auto pt-6 px-10 sm:px-20
  }
}

#src-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 40px;
}

.src-results__row {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 90%;
}

.src-results__title {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 32px;
  font-weight: 200;
}

.src-results__name {
  color: var(--accent);
  text-shadow: 1px 1px 10px var(--accent), -1px -1px 10px var(--accent);
  font-size: 24px;
  font-weight: 300;
  border-bottom: 1px solid var(--accent);
  padding: 8px 0;
}

.src-results__movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.src-results__movies__error {
  font-size: 32px;
  font-weight: 200;
}

.src-results__movies__spinner {
  color: var(--accent);
  font-size: 64px;
  animation: spinning 1s infinite;
}

@keyframes spinning {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

.src-results__movie {
  box-shadow: 0 8px 12px var(--shadow);
  margin: 24px 8px;
  border-radius: 8px;
  max-width: 198px;
  overflow: hidden;
}

.src-results__movie__content {
  position: relative;
}

.src-results__movie__content__poster {
  width: 100%;
  max-height: 288px;
  transition: 0.4s ease;
}

.src-results__movie__content:hover .src-results__movie__content__poster {
  filter: blur(4px) opacity(0.5);
  scale: 1.05;
}

.src-results__movie__content:hover .src-results__movie__content__info {
  opacity: 1;
}

.src-results__movie__content__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 24px 16px;
  opacity: 0;
  transition: 0.4s ease;
}

.src-results__movie__content__info__title {
  font-size: 20px;
}

.src-results__movie__content__info__wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 36px;
}

.src-results__movie__content__info__stats {
  display: flex;
  justify-content: space-between;
}

.src-results__movie__content__info__stats__para {
  font-weight: 600;
}

.src-results__movie__subtitle {
  font-size: 14px;
  font-weight: 200;
  text-align: center;
  margin-bottom: 16px;
  padding: 8px;
}

@media screen and (max-width: 840px) {
  .src-results__title {
    flex-direction: column;
    justify-content: center;
    gap: 8px;
  }
}

@media screen and (max-width: 768px) {

  #src-results {
    margin: 80px 16px;
  }

  .src-results__row {
    width: 100%;
  }

  .src-results__movie {
    max-width: 180px;
  }

  .src-results__movie__content__info__title {
    font-size: 16px;
  }

  .src-results__movie__content__info__wrapper {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 550px) {

  .src-results__name {
    font-size: 18px;
  }

  .src-results__movie {
    max-width: 124px;
  }

  .src-results__movie__content__info__title {
    font-size: 12px;
  }

  .src-results__movie__content__info__wrapper {
    gap: 16px;
    margin-bottom: 0;
  }

  .src-results__movie__content__info__stats__para,
  .src-results__movie__content__info__stats__icon {
    font-size: 12px;
  }
}
